<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>D2_jump_f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,168}}</string>
                <key>sourceSize</key>
                <string>{123,168}</string>
            </dict>
            <key>D2_jump_f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{116,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,190}}</string>
                <key>sourceSize</key>
                <string>{116,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>D2_jump.png</string>
            <key>size</key>
            <string>{127,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1fa2ecdb131a539e878bcabb80c4655:dc29a592cfa853efbc819f3fed34e19e:ab98c45c3bc9722d2fa7ea734e171096$</string>
            <key>textureFileName</key>
            <string>D2_jump.png</string>
        </dict>
    </dict>
</plist>
