<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>D2_run_f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{129,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,233}}</string>
                <key>sourceSize</key>
                <string>{129,233}</string>
            </dict>
            <key>D2_run_f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{91,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,225}}</string>
                <key>sourceSize</key>
                <string>{91,225}</string>
            </dict>
            <key>D2_run_f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{152,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,229}}</string>
                <key>sourceSize</key>
                <string>{152,229}</string>
            </dict>
            <key>D2_run_f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,133},{117,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,233}}</string>
                <key>sourceSize</key>
                <string>{117,233}</string>
            </dict>
            <key>D2_run_f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,156},{83,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,226}}</string>
                <key>sourceSize</key>
                <string>{83,226}</string>
            </dict>
            <key>D2_run_f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,228}}</string>
                <key>sourceSize</key>
                <string>{154,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>D2_run.png</string>
            <key>size</key>
            <string>{717,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d77e6c063f15b8f0db3df9596eec52c7:b33ca2e255f238b08cc722347d5db680:1883a93bba71c49caea2c94fe0abd89b$</string>
            <key>textureFileName</key>
            <string>D2_run.png</string>
        </dict>
    </dict>
</plist>
