<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>N_Player_Jump_test_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
            <key>N_Player_Jump_test_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
            <key>N_Player_Jump_test_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
            <key>N_Player_Jump_test_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
            <key>N_Player_test_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
            <key>N_Player_test_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1537},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
            <key>N_Player_test_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
            <key>N_Player_test_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,309},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
            <key>N_Player_test_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,616},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
            <key>N_Player_test_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,923},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
            <key>N_Player_test_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1230},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>N_running.png</string>
            <key>size</key>
            <string>{484,1778}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9380d27c67abdcfa28fa952db499d507:1ef4be1ce16e05c975ba02054e7c73f2:9a58a45dcde351405eb76b38ad3bf3a3$</string>
            <key>textureFileName</key>
            <string>N_running.png</string>
        </dict>
    </dict>
</plist>
