<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>N_Player_test_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
            <key>N_Player_test_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
            <key>N_Player_test_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
            <key>N_Player_test_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
            <key>N_Player_test_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
            <key>N_Player_test_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,2},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
            <key>N_Player_test_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2},{239,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,305}}</string>
                <key>sourceSize</key>
                <string>{239,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>N_running.png</string>
            <key>size</key>
            <string>{1690,309}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41afc098950c37df31eace406773adc2:5ddbedba910a97648da263363704bef8:9a58a45dcde351405eb76b38ad3bf3a3$</string>
            <key>textureFileName</key>
            <string>N_running.png</string>
        </dict>
    </dict>
</plist>
